# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.env
frontend/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

pkg
credentials.json
credentials2.json
