.view-switch {
    z-index: 2;
    top: 32px;
    right: 32px;
    position: fixed;
}

.elevated {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.settings-card {
    z-index: 2;
    position: relative;
    top: 32px;
    left: 32px;
}

.table {
    padding-left: 32px;
    padding-right: 32px;
}

.content-container {
    margin-top: 88px;
}
